// float and clear float (浮动)
.lf{
  float: left;
}
.rt{
  float: right;
}
.clear-both{
  zoom: 1;
}
.clear-both:after{
  content: "";
  clear: both;
  font-size: 0;
  height: 0;
  display: block;
  visibility: hidden;
}

// divide from the middle （等分）
.half{
  float: left;
  width: 50%;
}
.third{
  float: left;
  width: 33.33%;
}
.two-third {
  float: left;
  width: 66.66%;
}
.quarter{
  float: left;
  width: 25%;
}
.fifth{
  float: left;
  width: 20%;
}

// visual effect （动效）

